# Standards for multi-platform colaboration

# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

tests export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.gruntjshintrc export-ignore
README.md export-ignore
