/*
Default CSS Styles for the Category Posts Widget plugin
Version: 4.1.5
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 General
2.0 CSS cropping
3.0 Thumbnail hover effects
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 General
--------------------------------------------------------------*/
.cat-post-title {
	font-size: 15px;
	font-size: 0.9375rem;
}
.cat-post-current .cat-post-title {
	font-weight: bold;
	text-transform: uppercase;
}
.cat-post-date,
.cat-post-comment-num {
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 18px;
	line-height: 1.125rem;
	margin-bottom: 0;
}
.cat-post-date {
	font-style: italic;
}
.cat-post-author {
	margin-bottom: 0;
}
.cat-post-thumbnail img {
	float: left; 
	margin: 5px 10px 5px 0;
}
.cat-post-item {
	border-bottom: 1px solid #ccc;
	list-style: none;
	list-style-type: none;
	margin: 3px 0;
	padding: 3px 0;
}
.cat-post-item:before, 
.cat-post-item:after {
	content: "";
	display: table;
	clear: both;
}
.cat-post-item:last-child {
	border-bottom: none;
}
/*--------------------------------------------------------------
2.0 CSS cropping
--------------------------------------------------------------*/
/* crop horizontal */
.cat-post-item span.cat-post-css-hcropping {
	overflow: hidden;
	display: flex;
	justify-content: center;
	float: left;
	margin: 5px 10px 5px 0;	
}
.cat-post-item span.cat-post-css-hcropping img {
	max-width: initial;
	height: 100%;
	width: auto;
}
/* crop vertical */
.cat-post-item span.cat-post-css-vcropping {
	overflow: hidden;
	display: inline-block;
	position: relative;
	float: left;
	margin: 5px 10px 5px 0;	
}
.cat-post-item span.cat-post-css-vcropping img {
	position: absolute;
	margin: auto;
	bottom: 0;
	top: 0;
}
/*--------------------------------------------------------------
3.0 Thumbnail hover effects
--------------------------------------------------------------*/
/* For White, Dark, Scale */
li a.cat-post-white,
li a.cat-post-dark,
li a.cat-post-scale {
    display: inline-block;
    background-color: black;
	float: left;
	margin: 5px 10px 5px 0;
}
li a.cat-post-white img,
li a.cat-post-dark img,
li a.cat-post-scale img {
    margin: 0;
    padding-bottom: 0 !important;
}
li a.cat-post-white img:hover,
li a.cat-post-dark img:hover {
	opacity: 0.8;
}
/* Only for White */
li a.cat-post-white {
    background-color: white;
}
/* Only for Dark */
li a.cat-post-dark {
    background-color: black;
}
/* Only for Scale */
li a.cat-post-scale {
	overflow: hidden;
}
li a.cat-post-scale img {
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}
li a.cat-post-scale img:hover {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
